@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

:root {
  --white: hsl(0, 0%, 100%);
  --lightPurple: hsl(275, 100%, 97%);
  --grayPurple: hsl(292, 16%, 49%);
  --darkPurple: hsl(292, 42%, 14%);
  --purple: hsl(281, 83%, 54%);

  --fontRegular: 400;
  --fontSemiBold: 600;
  --fontBold: 700;

  --fontDisplay: 3.5rem;
  --fontTitle: 1.125rem;

  --fontBodyLineHeight: 1.5;

  --fontBody: 1rem;
  --fontWeight: var(--fontRegular);
  --fontFamily: "Work Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  min-height: 100%;
}

body {
  font-family: var(--fontFamily);
  font-size: var(--fontBody);
  font-weight: var(--fontWeight);
  font-optical-sizing: auto;
  letter-spacing: 0px;
  line-height: var(--fontBodyLineHeight);
  color: var(--grayPurple);
  background-color: var(--lightPurple);
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

img {
  display: block;
}

.bg-container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.bg.desktop {
  width: clamp(1440px, 100%, 100%);
}

.bg.mobile {
  display: none;
}

@media only screen and (max-width: 375px) {
  .bg.mobile {
    display: block;
  }
  .bg.desktop {
    display: none;
  }
}

h1,
.title {
  color: var(--darkPurple);
}

h1 {
  font-size: var(--fontDisplay);
  font-weight: var(--fontBold);
}

.head {
  display: flex;
  gap: 24px;
}

main {
  position: relative;
  z-index: 1;
  margin-top: clamp(140px, 25%, 160px);
  margin-inline: 24px;
}

.card {
  background-color: var(--white);
  max-width: 600px;
  margin-inline: auto;
  padding: 40px;
  border-radius: 16px;
}

.details-container {
  padding-block: 20px;
  &:not(:last-child) {
    border-bottom: 1px solid var(--lightPurple);
  }
  &:last-child {
    padding-bottom: 0;
  }
  &:first-child {
    padding-top: 0;
  }
}

/* details {
  padding: 5px;
} */

.title {
  display: flex;
  padding: 4px;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  font-size: var(--fontTitle);
  font-weight: var(--fontSemiBold);
  line-height: 1.875;
  list-style: none;
  &:hover,
  &:focus-visible {
    color: var(--purple);
    cursor: pointer;
    outline-color: var(--purple);
    /* avoid getting cutoff by animation */
    outline-offset: -2px;
  }
  .indicator {
    content: url(./assets/images/icon-plus.svg);
  }
}

.detail-content p {
  padding-top: 24px;
}

details[open] {
  .title .indicator {
    content: url(./assets/images/icon-minus.svg);
  }
}
